<div class="flex justify-center bg-primary-orange-dark font-Inter">
  <div class="flex w-3/4 flex-col pb-20 pt-40 text-white lg:w-1/2">
    <span class="main-title"
      >FAQ - Soins Énergétiques & Guidance Spirituelle</span
    >
    <section class="flex flex-col gap-4 pb-14">
      <span class="section-title">Soins Énergétiques</span>
      <span class="question-title">1. Qu'est-ce qu'un soin énergétique ?</span>
      <p class="question-answer">
        Un soin énergétique est une pratique douce qui vise à rééquilibrer et
        harmoniser ton énergie, tant physique qu'émotionnelle. Grâce à des
        techniques comme le Reiki, le magnétisme ou l’utilisation de cristaux.
        Ces soins t’aident à libérer les blocages et à retrouver ton bien-être.
        En rétablissant l’équilibre de ton énergie, tu te sens plus serein(e) et
        reconnecté(e) à toi-même. Pour ma part je suis formée à une technique
        simple et très intuitive, mais qui suit un protocole précis. Je commence
        par un bilan de tes énergies au pendule, et selon ce que j’ai détecté,
        je viens les ré-harmoniser et renforcer ta vitalité.
      </p>
      <span class="question-title"
        >2. Combien de séances sont nécessaires ?</span
      >
      <p class="question-answer">
        Chaque personne est différente, donc le nombre de séances peut varier.
        Certaines personnes ressentent un véritable déblocage dès la première
        séance, tandis que d’autres, avec des blocages plus profonds ou
        chroniques, peuvent avoir besoin de plusieurs séances pour retrouver
        l’équilibre. On adapte les soins en fonction de ton ressenti et de ton
        évolution. Dans tous les cas, même si tu viens une première fois pour
        tester, tu te sentiras apaisé et détendu comme si tes tensions
        s’envolaient !
      </p>
      <span class="question-title">3. A quoi sert un soin énergétique ?</span>
      <p class="question-answer">
        Un soin énergétique peut t'aider à retrouver l'équilibre dans de
        nombreuses situations, que ce soit pour réduire le stress, apaiser
        l'anxiété, soulager les douleurs physiques, ou libérer des blocages
        émotionnels. Il permet également de recharger ton énergie, d’apporter
        plus de clarté mentale, et de favoriser l’harmonie dans tes relations.
        En plus de soutenir ton bien-être général, il aide à renforcer ta
        protection énergétique et à accompagner la guérison, tout en soutenant
        ton développement spirituel et personnel. Le mieux restant d’essayer
        pour l’expérimenter, car chaque cas est unique.
      </p>
      <span class="question-title"
        >4. Les soins énergétiques sont-ils sûrs ?</span
      >
      <p class="question-answer">
        Chaque personne est différente, donc le nombre de séances peut varier.
        Certaines personnes ressentent un véritable déblocage dès la première
        séance, tandis que d’autres, avec des blocages plus profonds ou
        chroniques, peuvent avoir besoin de plusieurs séances pour retrouver
        l’équilibre. On adapte les soins en fonction de ton ressenti et de ton
        évolution. Dans tous les cas, même si tu viens une première fois pour
        tester, tu te sentiras apaisé et détendu comme si tes tensions
        s’envolaient !
      </p>
    </section>
    <section class="flex flex-col gap-4 pb-14">
      <span class="section-title"
        >Guidance en Cartomancie & Canalisation Médiumnique</span
      >
      <span class="question-title"
        >1. Comment fonctionne une séance de guidance spirituelle ?</span
      >
      <p class="question-answer">
        Une session de guidance spirituelle est un moment d'échange où tu poses
        des questions ou exprimes des intentions pour toi (et ta vie), et le
        praticien te guide à travers des messages reçus, souvent via la
        cartomancie ou la canalisation médiumnique. Le but est de t’offrir des
        éclairages sur ta situation, de t'aider à mieux comprendre les énergies
        qui t’entourent, et de te donner des conseils pour ton présent et ton
        avenir, tout en respectant ton libre arbitre. La séance se fait dans un
        cadre bienveillant et sécurisé, pour t'apporter clarté et sérénité. Pour
        ma part j’aime utiliser les cartes, le pendule, la musique… mais je peux
        canaliser déjà énormément de messages juste en dialoguant avec toi.
      </p>
      <span class="question-title"
        >2. Puis-je poser des questions spécifiques ?</span
      >
      <p class="question-answer">
        Oui, tu peux poser des questions spécifiques lors d’une guidance
        spirituelle. Que ce soit sur des aspects précis de ta vie, comme ton
        évolution perso, ta carrière, tes relations, ou des choix à faire, cela
        permet de recevoir des réponses claires et ciblées. Par exemple, tu peux
        demander "Quels sont les blocages qui m’empêchent d’avancer ?" ou
        "Comment puis-je améliorer ma situation professionnelle ?" Cela aide à
        apporter des éclairages détaillés et des conseils adaptés à ta situation
        du moment.
      </p>
      <span class="question-title"
        >3. Est-ce que la guidance spirituelle permet de prédire l’avenir
        ?</span
      >
      <p class="question-answer">
        La cartomancie ne prédit pas l’avenir de manière fixe, mais elle t’offre
        des aperçus sur les énergies actuelles et les directions possibles.
        L’idée est de te guider à travers des conseils qui t’aident à prendre
        des décisions éclairées, tout en respectant ton libre arbitre et tes
        choix de vie. Rien n’est jamais fixe, tout bouge, à toi de choisir ce
        que tu souhaites manifester. Connaître tes énergies actuelles et les
        potentialités est un plus pour avancer sur ton chemin en sachant quelle
        direction prendre. Et ce quel que soit le domaine (personnel,
        professionnel, sentimental, relationnel).
      </p>
    </section>
    <div class="flex w-full justify-center">
      <p class="w-3/4 text-center">
        Ces pratiques sont là pour t’apporter des réponses, de la sérénité et un
        chemin plus clair vers ton bien-être. Si tu as d’autres questions ou que
        tu souhaites réserver une séance, n’hésite pas à me contacter :
        cs.coeur.sauvage&#64;gmail.com ou au 07 45 66 83 99 😊
      </p>
    </div>
  </div>
</div>
