<div
  class="bg-primary-white font-Merriweather text-primary-orange-dark xl:h-44"
>
  <div
    class="container flex h-full flex-col items-center justify-center gap-5 py-5 xl:flex-row"
  >
    <div class="flex w-full flex-col items-center xl:w-1/12">
      <img
        [ngSrc]="logoWithTitle"
        alt="logo-with-title"
        height="442"
        width="442"
        class="h-24 w-24"
        priority
      />
    </div>
    <div
      class="flex w-full flex-col items-center pb-5 xl:w-1/5 xl:items-start xl:pb-0"
    >
      <span class="footer-links-head">Liens utiles</span>
      <span
        class="footer-links cursor-pointer pb-2 hover:opacity-60"
        routerLink="/faq"
        >FAQ</span
      >
      <span
        class="footer-links cursor-pointer hover:opacity-60"
        routerLink="/cgv"
        >Conditons générales de vente</span
      >
    </div>
    <div class="flex w-full flex-col items-center xl:w-1/5 xl:items-start">
      <span class="footer-links-head">Contact</span>
      <span class="footer-links pb-2"
        ><fa-icon class="pr-1" icon="phone"></fa-icon>07 45 66 83 99</span
      >
      <span class="footer-links"
        ><fa-icon class="pr-1" icon="envelope"></fa-icon
        >cs.coeur.sauvage&#64;gmail.com</span
      >
    </div>
  </div>
  <div class="w-full bg-primary-white pb-4 text-center text-sm">
    <p>
      © Camille El Yassem 2024 – Tous droits réservés | Site conçu par
      <span
        (click)="goTo('https://project-spectra.com/')"
        class="cursor-pointer font-bold hover:opacity-60"
        >Vangi Services</span
      >
    </p>
  </div>
</div>
