<header class="relative z-10 h-24 bg-primary-beige text-white">
  <div class="container flex h-full items-center justify-between pl-5 pr-16">
    <img
      ngSrc="../../../assets/imgs/logo.webp"
      alt="logo"
      height="442"
      width="442"
      priority
      class="h-24 w-24 cursor-pointer"
      routerLink="/acceuil"
    />
    <div
      class="flex w-1/3 justify-between font-Gloock text-lg font-medium tracking-widest"
    >
      <ul class="list-reset flex flex-1 justify-between">
        <li><a href="#">Acceuil</a></li>
        <li><a href="#">Prestations</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <fa-icon
      class="cursor-pointer text-3xl"
      [icon]="['fab', 'instagram']"
      (click)="goTo('https://www.instagram.com/cs.coeur.sauvage')"
    ></fa-icon>
  </div>
</header>
