// Hamburger style & animation
.hamburger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hamburger div {
  height: 4px;
  width: 100%;
  transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -6px);
}
