<header class="bg-primary-beige h-40 text-white">
  <div class="container flex h-full items-center justify-between px-10">
    <img
      ngSrc="../../../assets/imgs/logo.webp"
      alt="logo"
      height="442"
      width="442"
      priority
      class="h-32 w-32 cursor-pointer"
    />
    <div
      class="font-Inter absolute left-0 right-0 m-auto flex w-96 content-center justify-between text-xl"
    >
      <ul class="list-reset flex flex-1 justify-between">
        <li><a href="#">Acceuil</a></li>
        <li><a href="#">Prestations</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <fa-icon
      class="cursor-pointer text-3xl"
      [icon]="['fab', 'instagram']"
    ></fa-icon>
  </div>
</header>
