<section class="h-screen">
  <div class="container flex h-full flex-col items-center justify-center">
    <span
      class="z-20 mb-10 block rounded-md border-4 border-white p-3 text-center font-Merriweather text-2xl font-medium tracking-wider text-white md:p-5 lg:text-4xl"
      >Contact</span
    >
    <div
      class="relative flex min-h-96 w-11/12 max-w-card-width flex-col justify-center overflow-hidden rounded-xl border-4 border-primary-beige-transparent bg-primary-beige-transparent text-center text-2xl font-bold text-white shadow-lg xl:w-1/4 xl:min-w-96"
    >
      <span>EMAIL:</span>
      <span class="pb-10">cs.coeur.sauvage&#64;gmail.com</span>
      <span>TELEPHONE:</span>
      <span>07 45 66 83 99</span>
    </div>
  </div>
  <img
    class="-z-10 object-cover"
    ngSrc="../../assets/imgs/contact-bg.png"
    alt="landing-image"
    priority
    fill
  />
</section>
