.cards-container {
  @apply relative z-20 flex w-full flex-col items-center justify-center gap-5 font-Inter xl:flex-row;
}
.presta-cards {
  @apply relative flex w-11/12 max-w-card-width flex-col items-center overflow-hidden rounded-xl border-2 border-primary-beige-transparent bg-primary-beige-transparent pt-10 xl:w-1/4 xl:min-w-96;
  .card-text {
    @apply px-5;
    .card-title {
      @apply z-10 block min-h-20 pb-5 text-2xl font-bold;
    }
    .card-paragraph {
      @apply min-h-28 text-lg;
    }
    .details-button-container {
      @apply py-5;
    }
    .details-button {
      @apply flex w-28 cursor-pointer justify-center rounded-3xl bg-primary-orange p-1 transition-all hover:opacity-80;
      .details-button-text {
        @apply font-bold;
      }
      .details-button-icon {
        @apply pl-1 text-lg;
      }
    }
    .card-details-paragraph {
      @apply max-h-0 overflow-hidden text-base transition-all duration-1000;
    }
  }
  .card-image {
    @apply h-80 rounded-b-xl object-cover opacity-80 transition-all duration-1000;
  }
}

.pulse {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(238, 195, 117, 0.8);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
