<section
  class="relative h-auto min-h-screen bg-primary-beige text-white"
  xmlns="http://www.w3.org/1999/html"
>
  <div
    class="container flex h-full flex-col items-center justify-center gap-5 pb-10 pt-28"
  >
    <span
      class="z-20 mb-3 rounded-md border-4 border-white p-3 text-center font-Merriweather text-2xl font-bold tracking-wider text-white md:p-5 lg:text-4xl"
      >Mes Prestations</span
    >
    <div class="cards-container">
      <div class="presta-cards">
        <div class="card-text">
          <span class="card-title">Séances de guidances</span>
          <p class="card-subtitle">Retrouve clarté et équilibre intérieur.</p>
          <p class="card-paragraph">
            Tu traverses une situation complexe ou ressens le besoin de faire le
            point ? Mes séances de guidances sont conçues pour t’aider à
            éclaircir tes pensées et à recevoir des réponses alignées avec tes
            ressentis profonds.
          </p>
          <div class="details-button-container">
            <div (click)="toggleDetails(1)" class="details-button">
              <span class="details-button-text">Détails de la prestation</span
              ><fa-icon
                *ngIf="!showDetails1"
                class="details-button-icon"
                icon="plus"
              ></fa-icon>
              <fa-icon
                *ngIf="showDetails1"
                class="details-button-icon"
                icon="minus"
              ></fa-icon>
            </div>
          </div>
          <div
            [ngClass]="{ '!max-h-card-details-height py-5': showDetails1 }"
            class="card-details-paragraph"
          >
            <ul class="card-details-list">
              <li>
                <span class="font-bold"
                  >Libération et harmonisation énergétique:</span
                >
                Ces séances travaillent sur ton énergie, libèrent les blocages
                et harmonisent tes émotions pour te revitaliser.
              </li>
              <li>
                <span class="font-bold">Connexion spirituelle:</span> Une
                opportunité de recevoir des messages intuitifs ou des éclairages
                sur ta mission de vie.
              </li>
              <li>
                <span class="font-bold">Évolution personnelle:</span> Libère des
                émotions enfouies et transforme ce qui te retient pour avancer
                avec légèreté et confiance.
              </li>
              <li>
                <span class="font-bold">Séance personnalisée:</span> Dynamique
                et sur-mesure, elle booste ta confiance en toi dans un cadre
                bienveillant.
              </li>
            </ul>
            <p class="card-details-title">Formats proposés:</p>
            <ul class="card-details-list">
              <li>
                <span class="font-bold">Séance longue:</span> Idéale pour un
                travail d’introspection et de découverte de soi.
              </li>
              <li>
                <span class="font-bold">Séance courte:</span> Parfaite pour
                répondre à des problématiques actuelles, sortir du brouillard
                mental ou retrouver un coup de boost.
              </li>
              <li>
                <span class="font-bold">Question simple:</span> Si tu cherches
                un éclairage ponctuel sur une question spécifique.
              </li>
            </ul>
            <p class="card-details-conclusion">
              <span class="font-bold">Ma promesse:</span> Tu ressortiras de
              chaque séance apaisé(e), confiant(e) et prêt(e) à avancer avec
              sérénité.
            </p>
          </div>
        </div>
        <img
          [ngClass]="{ '!h-0': showDetails1 }"
          [ngSrc]="presta1"
          height="1024"
          width="1024"
          alt="presta1"
          class="card-image"
        />
      </div>
      <div class="presta-cards">
        <div class="card-text">
          <span class="card-title">Séances de soins énergétiques</span>
          <p class="card-subtitle">Reconnecte-toi à ton Moi profond.</p>
          <p class="card-paragraph">
            Les soins énergétiques que je propose t’aident à rétablir
            l’équilibre entre le corps, l’esprit et l’âme. C’est une approche
            holistique pour soulager les maux physiques et émotionnels, et pour
            revitaliser ton énergie.
          </p>
          <div class="details-button-container">
            <div (click)="toggleDetails(2)" class="details-button">
              <span class="details-button-text">Détails de la prestation</span
              ><fa-icon
                *ngIf="!showDetails2"
                class="details-button-icon"
                icon="plus"
              ></fa-icon>
              <fa-icon
                *ngIf="showDetails2"
                class="details-button-icon"
                icon="minus"
              ></fa-icon>
            </div>
          </div>
          <div
            [ngClass]="{ '!max-h-card-details-height py-5': showDetails2 }"
            class="card-details-paragraph"
          >
            <ul class="card-details-list">
              <li>
                <span class="font-bold"
                  >Effets puissants de libération et de guérison:</span
                >
                Ces soins agissent en profondeur pour débloquer et activer ton
                potentiel énergétique.
              </li>
              <li>
                <span class="font-bold"
                  >Initiation énergétique (séance longue):</span
                >
                Comprends ton fonctionnement énergétique et reçois des
                canalisations de messages.
              </li>
              <li>
                <span class="font-bold">Soin ciblé (séance courte):</span> Axé
                sur le nettoyage et l’activation énergétique.
              </li>
            </ul>
            <p class="card-details-title">Formats proposés:</p>
            <ul class="card-details-list">
              <li>
                <span class="font-bold">Présentiel à Toulouse:</span> Pour un
                travail de profondeur et une canalisation médiumnique en plus du
                soin.
              </li>
              <li>
                <span class="font-bold">À distance:</span> Efficace quel que
                soit l’endroit où tu te trouves.
              </li>
            </ul>
            <p class="card-details-conclusion">
              <span class="font-bold">À savoir:</span> Une seule séance peut
              enclencher un processus de guérison, mais la fréquence dépend de
              tes besoins et de ta motivation.
            </p>
          </div>
        </div>
        <img
          [ngClass]="{ '!h-0': showDetails2 }"
          [ngSrc]="presta2"
          height="1080"
          width="1080"
          alt="presta2"
          class="card-image"
        />
      </div>
      <div class="presta-cards">
        <div class="card-text">
          <span class="card-title">Boutique holistique en ligne</span>
          <p class="card-paragraph pb-5">
            Je t’invite à découvrir ma
            <span class="font-bold">boutique en ligne</span>, où tu trouveras
            une variété de <span class="font-bold">ressources</span> pour
            t’accompagner vers ton bien-être et mieux comprendre le monde
            énergétique qui t’entoure et te compose.
          </p>
        </div>
        <img
          [ngSrc]="presta4"
          height="1080"
          width="1080"
          alt="presta4"
          class="card-image"
        />
      </div>
      <!--      <div class="presta-cards">-->
      <!--        <div class="card-text">-->
      <!--          <span class="card-title">Soin énergétique personnalisé</span>-->
      <!--          <p class="card-paragraph">-->
      <!--            Je propose des séances de-->
      <!--            <span class="font-bold">soins énergétiques</span> sur mesure pour-->
      <!--            t’aider à renouer avec ton-->
      <!--            <span class="font-bold">Moi intérieur</span>.-->
      <!--          </p>-->
      <!--          <div class="details-button-container">-->
      <!--            <div (click)="toggleDetails(3)" class="details-button">-->
      <!--              <span class="details-button-text">Détails de la prestation</span-->
      <!--              ><fa-icon-->
      <!--                *ngIf="!showDetails3"-->
      <!--                class="details-button-icon"-->
      <!--                icon="plus"-->
      <!--              ></fa-icon>-->
      <!--              <fa-icon-->
      <!--                *ngIf="showDetails3"-->
      <!--                class="details-button-icon"-->
      <!--                icon="minus"-->
      <!--              ></fa-icon>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <p-->
      <!--            [ngClass]="{ '!max-h-card-details-height pb-5': showDetails3 }"-->
      <!--            class="card-details-paragraph"-->
      <!--          >-->
      <!--            Mon approche intègre aussi bien les petits maux physiques que les-->
      <!--            aspects plus subtils de l'être. Il s’agit d’un soin intense avec des-->
      <!--            effets de libération puissants.<br /><br />-->
      <!--            Lors de chaque <span class="font-bold">consultation</span>, je-->
      <!--            réalise un <span class="font-bold">bilan complet</span> de tes-->
      <!--            <span class="font-bold">énergies</span> au-->
      <!--            <span class="font-bold">pendule</span> puis effectue le-->
      <!--            <span class="font-bold">soin</span> en fonction de tes besoins-->
      <!--            spécifiques du moment.<br /><br />-->
      <!--            Le <span class="font-bold">dialogue</span> joue un rôle clé durant-->
      <!--            la séance, permettant de-->
      <!--            <span class="font-bold">conscientiser</span> tes maux et de les-->
      <!--            comprendre davantage. C’est également un moment de-->
      <!--            <span class="font-bold">détente profonde</span>, où tu ressortira-->
      <!--            <span class="font-bold">relaxé(e)</span>, avec un-->
      <!--            <span class="font-bold">bien-être</span> qui perdure sur plusieurs-->
      <!--            semaines après le soin ! Et oui, ton énergie d’auto-guérison-->
      <!--            continue le travail que j’ai enclenché sur la durée.<br /><br />-->
      <!--            Les soins peuvent être réalisés-->
      <!--            <span class="font-bold">à distance</span> (l’énergie dépasse les-->
      <!--            limites d’espace et de temps) ou en-->
      <!--            <span class="font-bold">présentiel</span> (<span class="font-bold"-->
      <!--              >Toulouse</span-->
      <!--            >). Le nombre de séances varie selon tes besoins et ta motivation.-->
      <!--            Une séance suffit néanmoins à enclencher le processus de guérison.-->
      <!--          </p>-->
      <!--        </div>-->
      <!--        <img-->
      <!--          [ngClass]="{ '!h-0': showDetails3 }"-->
      <!--          [ngSrc]="presta3"-->
      <!--          height="1080"-->
      <!--          width="1080"-->
      <!--          alt="presta3"-->
      <!--          class="card-image"-->
      <!--        />-->
      <!--      </div>-->
    </div>
    <!--    <div class="cards-container">-->
    <!--      <div class="presta-cards">-->
    <!--        <div class="card-text">-->
    <!--          <span class="card-title">Boutique holistique en ligne</span>-->
    <!--          <p class="card-paragraph pb-5">-->
    <!--            Je t’invite à découvrir ma-->
    <!--            <span class="font-bold">boutique en ligne</span>, où tu trouveras-->
    <!--            une variété de <span class="font-bold">ressources</span> pour-->
    <!--            t’accompagner vers ton bien-être et mieux comprendre le monde-->
    <!--            énergétique qui t’entoure et te compose.-->
    <!--          </p>-->
    <!--        </div>-->
    <!--        <img-->
    <!--          [ngSrc]="presta4"-->
    <!--          height="1080"-->
    <!--          width="1080"-->
    <!--          alt="presta4"-->
    <!--          class="card-image"-->
    <!--        />-->
    <!--      </div>-->
    <!--    </div>-->
    <button
      (click)="goTo('https://linktr.ee/coeur.sauvage')"
      class="pulse z-20 mt-7 rounded-xl bg-primary-orange p-5 font-Merriweather text-2xl font-bold hover:opacity-90"
    >
      Tarifs et réservations ici
    </button>
  </div>
  <img
    class="z-10 object-cover"
    [ngSrc]="prestationBg"
    alt="prestation-bg"
    fill
  />
</section>
<section
  class="relative flex flex-col items-center justify-center bg-primary-white py-20 text-primary-orange-dark"
>
  <span class="z-10 mb-8 px-5 text-center font-Merriweather text-4xl font-bold"
    >Réseaux & communauté des Sauvageons :
  </span>
  <p class="z-10 px-10 text-center font-Inter text-xl lg:px-80">
    Si tu veux
    <span class="font-bold">réveiller ton Coeur Sauvage au quotidien</span>, je
    propose également d’autres médias : des sessions d'ateliers collectifs, des
    guidances, des partages d’expériences et live sur Instagram…<br /><br />
    Viens voir et abonne toi pour cheminer avec nous vers
    <span class="font-bold">ta liberté !</span>
  </p>
  <fa-icon
    class="z-20 cursor-pointer pt-5 text-4xl"
    [icon]="['fab', 'instagram']"
    (click)="goTo('https://www.instagram.com/cs.coeur.sauvage')"
  ></fa-icon>
  <div class="absolute z-0 h-80 w-80 opacity-30">
    <img [ngSrc]="logoWithoutTitle" alt="logo-without-title" fill />
  </div>
</section>
<section
  class="relative flex flex-col items-center justify-center !overflow-hidden py-20"
>
  <span
    class="z-20 mb-10 rounded-md border-4 border-white p-3 text-center font-Merriweather text-2xl font-bold tracking-wider text-white md:p-5 lg:text-4xl"
    >Avis</span
  >
  <app-review-slider
    class="z-20 w-full md:w-1/2 xl:w-1/3 2xl:w-1/4 3xl:w-2/12"
  ></app-review-slider>
  <img
    class="z-10 object-cover opacity-80"
    [ngSrc]="reviewsBg"
    alt="reviews-bg"
    fill
  />
</section>
