<section
  class="relative h-auto min-h-screen bg-primary-beige text-white"
  xmlns="http://www.w3.org/1999/html"
>
  <div
    class="container flex h-full flex-col items-center justify-center gap-5 pb-10 pt-28"
  >
    <span
      class="z-20 mb-3 rounded-md border-4 border-primary-white p-3 text-center font-Merriweather text-2xl font-medium tracking-wider md:p-5 lg:text-4xl"
      >Mes Prestations</span
    >
    <div class="cards-container">
      <div class="presta-cards">
        <div class="card-text">
          <span class="card-title">Séances d’accompagnement spirituel</span>
          <p class="card-paragraph">
            Je propose des sessions
            <span class="font-bold">d’accompagnement spirituel</span> pour
            t’aider à débloquer ce qui te freine au quotidien.
          </p>
          <div class="details-button-container">
            <div (click)="toggleDetails(1)" class="details-button">
              <span class="details-button-text">Détails</span
              ><fa-icon
                *ngIf="!showDetails1"
                class="details-button-icon"
                icon="plus"
              ></fa-icon>
              <fa-icon
                *ngIf="showDetails1"
                class="details-button-icon"
                icon="minus"
              ></fa-icon>
            </div>
          </div>
          <p
            [ngClass]="{ '!max-h-card-details-height pb-5': showDetails1 }"
            class="card-details-paragraph"
          >
            Nous allons échanger et
            <span class="font-bold">travailler sur les énergies</span> avec des
            <span class="font-bold">cartes</span>, le
            <span class="font-bold">pendule</span>, et d’autres techniques
            adaptées.<br /><br />
            C’est l’occasion
            <span class="font-bold"
              >d’explorer tes blocages ou peurs inconscientes</span
            >, découvrir tes <span class="font-bold">désirs profonds</span>, et
            mieux comprendre ton lien au monde et aux autres, pour avancer vers
            plus de <span class="font-bold">joie</span> et de
            <span class="font-bold">bien-être</span>. La vie comporte des défis
            sur lesquels tu surferas
            <span class="font-bold">avec aisance</span>.<br /><br />
            Mon rôle est de t’aider à
            <span class="font-bold">libérer les énergies bloquées</span> et à
            avancer vers le <span class="font-bold">bonheur</span> qui est déjà
            en toi.
          </p>
        </div>
        <img
          [ngClass]="{ '!h-0': showDetails1 }"
          ngSrc="../../assets/imgs/presta1.jpg"
          height="1024"
          width="1024"
          alt="presta1"
          class="card-image"
        />
      </div>
      <div class="presta-cards">
        <div class="card-text">
          <span class="card-title">Guidance simple</span>
          <p class="card-paragraph">
            Je te propose de me connecter aux
            <span class="font-bold">énergies subtiles</span> pour toi afin de
            répondre à une ou plusieurs de tes question sur un domaine de ton
            choix.
          </p>
          <div class="details-button-container">
            <div (click)="toggleDetails(2)" class="details-button">
              <span class="details-button-text">Détails</span
              ><fa-icon
                *ngIf="!showDetails2"
                class="details-button-icon"
                icon="plus"
              ></fa-icon>
              <fa-icon
                *ngIf="showDetails2"
                class="details-button-icon"
                icon="minus"
              ></fa-icon>
            </div>
          </div>
          <div
            [ngClass]="{ '!max-h-card-details-height pb-5': showDetails2 }"
            class="card-details-paragraph"
          >
            <p>
              Cela a pour but de t'aider ponctuellement à cheminer lorsque tu
              doutes, que te sens perdue face à un choix ou que tu souhaites
              confirmer un ressentis :
            </p>
            <ul class="z-10 list-disc py-5 pl-2 text-lg font-bold">
              <li>Professionel</li>
              <li>Personnel</li>
              <li>Sentimental</li>
              <li>Relationnel</li>
              <li>Vie Antérieure</li>
            </ul>
            <p>
              Tu recevras ta canalisation par messages vocaux sur WhatsApp (à
              réécouter autant de fois que tu le souhaites) d’environ 10 min +
              les photos de ton tirage de carte.
            </p>
          </div>
        </div>
        <img
          [ngClass]="{ '!h-0': showDetails2 }"
          ngSrc="../../assets/imgs/presta2.jpg"
          height="1080"
          width="1080"
          alt="presta2"
          class="card-image"
          priority
        />
      </div>
      <div class="presta-cards">
        <div class="card-text">
          <span class="card-title">Soin énergétique personnalisé</span>
          <p class="card-paragraph">
            Je propose des séances de
            <span class="font-bold">soins énergétiques</span> sur mesure pour
            t’aider à renouer avec ton
            <span class="font-bold">Moi intérieur</span>.
          </p>
          <div class="details-button-container">
            <div (click)="toggleDetails(3)" class="details-button">
              <span class="details-button-text">Détails</span
              ><fa-icon
                *ngIf="!showDetails3"
                class="details-button-icon"
                icon="plus"
              ></fa-icon>
              <fa-icon
                *ngIf="showDetails3"
                class="details-button-icon"
                icon="minus"
              ></fa-icon>
            </div>
          </div>
          <p
            [ngClass]="{ '!max-h-card-details-height pb-5': showDetails3 }"
            class="card-details-paragraph"
          >
            Mon approche intègre aussi bien les petits maux physiques que les
            aspects plus subtils de l'être. Il s’agit d’un soin intense avec des
            effets de libération puissants.<br /><br />
            Lors de chaque <span class="font-bold">consultation</span>, je
            réalise un <span class="font-bold">bilan complet</span> de tes
            <span class="font-bold">énergies</span> au
            <span class="font-bold">pendule</span> puis effectue le
            <span class="font-bold">soin</span> en fonction de tes besoins
            spécifiques du moment.<br /><br />
            Le <span class="font-bold">dialogue</span> joue un rôle clé durant
            la séance, permettant de
            <span class="font-bold">conscientiser</span> tes maux et de les
            comprendre davantage. C’est également un moment de
            <span class="font-bold">détente profonde</span>, où tu ressortira
            <span class="font-bold">relaxé(e)</span>, avec un
            <span class="font-bold">bien-être</span> qui perdure sur plusieurs
            semaines après le soin ! Et oui, ton énergie d’auto-guérison
            continue le travail que j’ai enclenché sur la durée.<br /><br />
            Les soins peuvent être réalisés
            <span class="font-bold">à distance</span> (l’énergie dépasse les
            limites d’espace et de temps) ou en
            <span class="font-bold">présentiel</span> (<span class="font-bold"
              >Toulouse</span
            >). Le nombre de séances varie selon tes besoins et ta motivation.
            Une séance suffit néanmoins à enclencher le processus de guérison.
          </p>
        </div>
        <img
          [ngClass]="{ '!h-0': showDetails3 }"
          ngSrc="../../assets/imgs/presta3.jpg"
          height="1080"
          width="1080"
          alt="presta3"
          class="card-image"
        />
      </div>
    </div>
    <div class="cards-container">
      <div class="presta-cards">
        <div class="card-text">
          <span class="card-title">Boutique holistique en ligne</span>
          <p class="card-paragraph pb-5">
            Je t’invite à découvrir ma
            <span class="font-bold">boutique en ligne</span>, où tu trouveras
            une variété de <span class="font-bold">ressources</span> pour
            t’accompagner vers ton bien-être et mieux comprendre le monde
            énergétique qui t’entoure et te compose.
          </p>
          <!--          <div class="details-button">-->
          <!--            <span class="font-bold">Détails</span-->
          <!--            ><fa-icon class="pl-1 text-lg" icon="plus"></fa-icon>-->
          <!--          </div>-->
        </div>
        <img
          ngSrc="../../assets/imgs/presta4.jpg"
          height="1080"
          width="1080"
          alt="presta4"
          class="card-image"
        />
      </div>
    </div>
    <button
      (click)="goTo('https://linktr.ee/coeur.sauvage')"
      class="pulse z-20 mt-7 rounded-xl bg-primary-orange p-5 font-Merriweather text-2xl font-bold hover:opacity-90"
    >
      Tarifs et réservations ici
    </button>
  </div>
  <img
    class="z-10 object-cover opacity-70"
    ngSrc="../../assets/imgs/presta-bg.png"
    alt="presta-bg"
    priority
    fill
  />
</section>
<section
  class="relative flex flex-col items-center justify-center bg-primary-white py-20 text-primary-orange-dark"
>
  <span class="z-10 mb-8 px-5 text-center font-Merriweather text-4xl font-bold"
    >Réseaux & communauté des Sauvageons :
  </span>
  <p class="z-10 px-10 text-center font-Inter text-xl lg:px-80">
    Si tu veux
    <span class="font-bold">réveiller ton Coeur Sauvage au quotidien</span>, je
    propose également d’autres médias : des sessions de soins collectifs, des
    guidances, des partages d’expériences et live sur Instagram…<br /><br />
    Viens voir et abonne toi pour cheminer avec nous vers
    <span class="font-bold">ta liberté !</span>
    <fa-icon
      class="hidden cursor-pointer pt-5 text-4xl lg:block"
      [icon]="['fab', 'instagram']"
      (click)="goTo('https://www.instagram.com/cs.coeur.sauvage')"
    ></fa-icon>
  </p>
  <div class="absolute z-0 h-80 w-80 opacity-30">
    <img ngSrc="../../assets/imgs/logo.png" alt="logo" priority fill />
  </div>
</section>
