<div class="flex justify-center bg-primary-orange-dark font-Inter">
  <div class="flex w-3/4 flex-col pb-20 pt-40 text-white lg:w-1/2">
    <span class="main-title">Conditions Générales de Vente (CGV)</span>
    <section class="flex flex-col gap-5 pb-14">
      <span class="section-title">1. Présentation</span>
      <p>
        Les présentes Conditions Générales de Vente (CGV) s’appliquent aux
        prestations proposées par Camille, thérapeute holistique, énergéticienne
        et médium, à savoir des soins énergétiques, des guidances intuitives et
        tout autre service mentionné sur le site www.coeur-sauvage.net.
        <br /><br />
        En acceptant une prestation, le client reconnaît avoir lu, compris et
        accepté ces CGV.
      </p>
      <span class="section-title">2. Prestations et Responsabilités</span>
      <ul class="section-list">
        <li>
          Les soins énergétiques et les guidances intuitives sont des
          accompagnements destinés au bien-être et au développement personnel.
          Ils ne se substituent en aucun cas à un avis médical, un traitement ou
          un suivi psychologique.
        </li>
        <li>
          Les résultats des prestations dépendent de l’implication personnelle
          du client. Camille ne garantit aucun résultat spécifique.
        </li>
        <li>
          Toute prestation est réalisée dans un cadre bienveillant et
          confidentiel.
        </li>
      </ul>
      <span class="section-title">3. Réservation et Paiement</span>
      <ul class="section-list">
        <li>
          Les prestations sont accessibles uniquement sur rendez-vous, à
          réserver via ma plateforme en ligne, par mail à
          cs.coeur.sauvage&#64;gmail.com ou au 07 45 66 83 99.
        </li>
        <li>
          Le paiement peut s’effectuer en ligne via virement bancaire ou sur
          place le jour de la séance (uniquement pour les séances en
          présentiel).
        </li>
        <li>
          La réservation est confirmée à réception du paiement, sauf accord
          contraire.
        </li>
      </ul>
      <span class="section-title">4. Tarifs</span>
      <ul class="section-list">
        <li>
          Les tarifs des prestations sont indiqués en euros et s’entendent
          toutes taxes comprises (TTC).
        </li>
        <li>
          Camille se réserve le droit de modifier ses tarifs à tout moment. Les
          prestations seront facturées sur la base du tarif en vigueur au moment
          de la réservation.
        </li>
      </ul>
      <span class="section-title">5. Annulation et Report</span>
      <ul class="section-list">
        <li>
          Toute annulation ou demande de report doit être signalée au minimum
          <span class="font-bold">48 heures à l’avance</span>.
        </li>
        <li>
          En cas d’annulation tardive (moins de 48 heures avant le rendez-vous)
          ou d’absence non justifiée, le montant de la prestation reste dû et
          aucun remboursement ne sera effectué.
        </li>
        <li>
          Camille se réserve le droit d’annuler ou de reporter un rendez-vous en
          cas de force majeure. Dans ce cas, le client sera informé dès que
          possible et pourra choisir un nouveau créneau ou obtenir un
          remboursement.
        </li>
      </ul>
      <span class="section-title">6. Propriété Intellectuelle</span>
      <p>
        Les contenus, méthodes et outils utilisés lors des prestations sont la
        propriété exclusive de Camille et ne peuvent être copiés, reproduits ou
        transmis sans autorisation préalable.
      </p>
      <span class="section-title"
        >7. Confidentialité et Protection des Données</span
      >
      <ul class="section-list">
        <li>
          Toutes les informations échangées lors des séances sont strictement
          confidentielles.
        </li>
        <li>
          Les données personnelles collectées dans le cadre des prestations sont
          utilisées uniquement pour la gestion des rendez-vous et ne seront
          jamais transmises à des tiers.
        </li>
      </ul>
      <span class="section-title">8. Limitation de Responsabilité</span>
      <ul class="section-list">
        <li>
          Camille ne pourra être tenue responsable de tout dommage indirect ou
          consécutif lié à l’utilisation de ses services.
        </li>
        <li>
          Les prestations étant basées sur l’intuitif et l’énergétique, elles
          relèvent d’un domaine subjectif et ne peuvent donner lieu à un
          quelconque engagement de résultat. Le résultat va dépendre de chaque
          personne et de son implication personnelle.
        </li>
      </ul>
      <span class="section-title">9. Droit de Rétractation</span>
      <p>
        Conformément à l’article L.221-18 du Code de la consommation (en
        France), le client dispose d’un délai de 14 jours pour exercer son droit
        de rétractation après réservation en ligne, sauf si la prestation a été
        réalisée avant la fin de ce délai avec l’accord du client.
      </p>
      <span class="section-title">10. Litiges et Droit Applicable</span>
      <ul class="section-list">
        <li>
          Les présentes CGV sont régies par le droit français. En cas de litige,
          une solution à l’amiable sera recherchée avant tout recours
          judiciaire.
        </li>
        <li>
          En cas de désaccord persistant, le litige pourra être soumis aux
          juridictions compétentes du lieu de résidence de Camille.
        </li>
      </ul>
    </section>
    <div class="flex w-full flex-col items-center justify-center">
      <span class="pb-5 font-bold">Date d'entrée en vigueur : 01.09.2023.</span>
      <p class="w-3/4 text-center">
        Pour toute question ou demande relative aux présentes CGV, merci de me
        contacter à : cs.coeur.sauvage&#64;gmail.com
      </p>
    </div>
  </div>
</div>
