<section
  class="relative z-0 flex min-h-screen w-full flex-col items-center justify-center bg-primary-orange pb-10 text-white"
>
  <img
    [ngSrc]="logoWithTitle"
    alt="logo-with-title"
    height="442"
    width="442"
    class="h-60 w-60 md:h-72 md:w-72 lg:h-96 lg:w-96"
  />
  <p class="mb-4 font-Merriweather text-6xl md:text-7xl lg:text-8xl">
    Bienvenue
  </p>
  <div
    class="mb-10 flex items-center px-2 text-center font-Inter text-xs font-bold md:px-0 lg:text-2xl"
  >
    <span>Accompagnement spirituel et guidance</span>
    <fa-icon class="px-1 text-xs md:px-3" icon="circle"></fa-icon>
    <span>Soin énergétique</span>
    <fa-icon class="px-1 text-xs md:px-3" icon="circle"></fa-icon>
    <span>Communauté d'éveil collective et solidaire</span>
  </div>
  <p
    class="rounded-md border-4 border-primary-white p-3 text-center font-Merriweather text-2xl font-medium tracking-wider md:p-5 lg:text-4xl"
  >
    “Nous sommes un grand Cœur Sauvage”
  </p>
  <img
    class="-z-10 object-cover opacity-70"
    [ngSrc]="landingImage"
    alt="landing-image"
    fill
  />
</section>
<section
  class="relative flex flex-col items-center justify-center bg-primary-white py-20 text-primary-orange-dark"
>
  <span class="z-10 mb-8 px-5 text-center font-Merriweather text-4xl"
    >Bienvenue sur
    <span class="font-semibold">Cœur Sauvage !</span>
  </span>
  <p class="z-10 px-10 text-center font-Inter text-xl lg:px-80">
    Ici, je t'accompagne pour te reconnecter à ton essence profonde et explorer
    ce qui te passionne vraiment.<br />
    Que tu sois en quête de toi-même ou que tu souhaites simplement mieux te
    connaître, cet espace est ton refuge.<br />
    Ensemble, découvrons ta véritable nature et avançons vers une vie pleine de
    liberté, de joie et d'authenticité.<br />
    <span class="mt-4 block text-2xl font-bold"
      >Rejoins-moi dans cette belle aventure !</span
    >
  </p>
  <div class="absolute z-0 h-80 w-80 opacity-30">
    <img [ngSrc]="logoWithoutTitle" alt="logo-without-title" fill />
  </div>
</section>
<section
  class="relative flex min-h-screen justify-center bg-primary-pink-dark py-10"
>
  <div
    class="container relative z-10 flex min-h-screen flex-col items-center justify-center pb-10 md:flex-row-reverse md:px-10 md:pb-0"
  >
    <div
      class="w-full rounded-none border-0 border-primary-beige-transparent p-10 text-white md:w-1/2 md:rounded-xl md:border-b-4 md:border-r-4 md:border-t-4 md:bg-primary-white md:text-primary-pink-dark md:shadow-lg 2xl:w-1/3"
    >
      <span
        class="z-20 mb-10 block rounded-md border-4 border-white p-3 text-center font-Merriweather text-2xl font-bold tracking-wider md:border-primary-pink-dark md:p-5 lg:text-4xl"
        >Qui suis-je ?</span
      >
      <p class="font-Inter text-lg md:text-sm lg:text-lg">
        Bien le bonjour à toi et bienvenue dans mon univers ! 🌟 <br /><br />
        Moi, c’est Camille,
        <span class="font-bold">thérapeute holistique</span>,
        <span class="font-bold">énergéticienne</span> et
        <span class="font-bold">médium</span> passionnée par l’éveil spirituel
        et le bien-être global. Mon approche ?
        <span class="font-bold">Joyeuse</span>,
        <span class="font-bold">authentique</span> et 100 % alignée avec ta
        recherche de sérénité et d’harmonie !<br /><br />
        Avec une belle dose de <span class="font-bold">médiumnité</span>, de
        <span class="font-bold">soins énergétiques</span> et un soupçon de
        <span class="font-bold">naturopathie</span>, je t’aide à te reconnecter
        à ton <span class="font-bold">Moi profond</span>.<br /><br />
        Mon objectif : t’aider à te libérer des
        <span class="font-bold">blocages physiques</span>,
        <span class="font-bold">émotionnels</span>,
        <span class="font-bold">mentaux</span> ou
        <span class="font-bold">énergétiques</span> pour que tu te sentes plus
        apaisé(e) et aligné(e) au quotidien. Et pourquoi pas, créer la vie de
        tes rêves ?<br /><br />
        Cela fait plus de sept ans que je pratique tout cela quotidiennement, et
        aujourd’hui, je te propose des outils et techniques pour :<br /><br />
        ✨ Trouver du
        <span class="font-bold">bien-être physique et émotionnel</span
        >.<br /><br />
        ✨ Avancer sur ton chemin d’<span class="font-bold"
          >éveil spirituel</span
        >.<br /><br />
        ✨ Apprendre à écouter ton intuition et à mener une vie qui te
        <span class="font-bold">ressemble vraiment</span> !<br /><br />
        Si tu es curieux(se), viens
        <span class="font-bold">explorer mon site</span> ou écris-moi
        directement. Je suis là pour répondre à tes questions et t’accompagner
        avec amour et bienveillance.<br /><br />
        Tu verras que mon atout à moi, c’est de te faire sourire.<br /><br />
        <span class="font-bold">Camille, énergéticienne et médium</span> 💫
      </p>
    </div>
    <div
      class="relative z-0 h-96 w-full md:h-2/3 md:min-h-profile-image md:w-1/2 md:pb-0 md:shadow-lg 2xl:w-1/3"
    >
      <img
        class="absolute rounded-large object-cover px-5 md:rounded-xl md:px-0"
        [ngSrc]="profile"
        fill
        alt="profile"
      />
    </div>
  </div>
  <img
    class="z-0 object-cover opacity-70"
    [ngSrc]="profileBg"
    alt="profile-bg"
    fill
  />
</section>
<section class="relative bg-primary-white text-primary-orange-dark">
  <div
    class="container flex min-h-80 flex-col items-center justify-center py-20 md:flex-row"
  >
    <fa-icon
      class="z-10 pl-16 pr-16 text-3xl lg:pl-48 lg:text-4xl"
      icon="quote-left"
    ></fa-icon>
    <p class="z-10 px-8 text-center text-xl font-semibold md:px-0 lg:text-3xl">
      Un cœur sauvage, c'est un cœur libre et indomptable, qui bat au rythme de
      ses véritables désirs. C'est une âme qui refuse de se conformer, qui
      explore, s'émerveille et vit avec passion, toujours en quête
      d'authenticité et de connexion profonde.
    </p>
    <fa-icon
      class="pl-16 pr-16 text-3xl lg:pr-48 lg:text-4xl"
      icon="quote-right"
    ></fa-icon>
    <div class="absolute z-0 h-80 w-80 opacity-30">
      <img [ngSrc]="logoWithoutTitle" alt="logo-without-title" fill />
    </div>
  </div>
</section>
<section
  class="relative flex min-h-screen bg-primary-beige text-white"
  xmlns="http://www.w3.org/1999/html"
>
  <div
    class="container flex grow flex-col items-center justify-center gap-5 pb-10 pt-16"
  >
    <span
      class="z-20 mb-3 block rounded-md border-4 border-white p-3 text-center font-Merriweather text-2xl font-bold tracking-wider text-white md:p-5 lg:text-4xl"
      >Le projet Coeur Sauvage</span
    >
    <div class="cards-container">
      <div class="presta-cards">
        <div class="card-text">
          <fa-icon class="card-icon" icon="seedling"></fa-icon>
          <span class="card-title">Une transformation enrichissante</span>
          <p class="card-paragraph">
            Reconnecte toi à ta joie d’enfant, à tes passions, et à ce qui te
            motive profondément.
          </p>
        </div>
        <div class="card-image">
          <img
            [ngSrc]="logoWithoutTitle"
            alt="logo-without-title"
            priority
            fill
          />
        </div>
      </div>
      <div class="presta-cards">
        <div class="card-text">
          <fa-icon class="card-icon" icon="face-grin-tears"></fa-icon>
          <span class="card-title">Guidance simple</span>
          <p class="card-paragraph">
            Je t’accompagne pour passer du mode survie à un épanouissement
            rapide, où tu te sens pleinement satisfait(e).
          </p>
        </div>
        <div class="card-image">
          <img
            [ngSrc]="logoWithoutTitle"
            alt="logo-without-title"
            priority
            fill
          />
        </div>
      </div>
      <div class="presta-cards">
        <div class="card-text">
          <fa-icon class="card-icon" icon="spa"></fa-icon>
          <span class="card-title">Soin énergétique personnalisé</span>
          <p class="card-paragraph">
            Apprends à naviguer à travers les défis de la vie et découvre ta
            véritable nature. Chaque jour peut devenir plus enrichissant, même
            les plus difficiles, en équilibrant et harmonisant ton être.
          </p>
        </div>
        <div class="card-image">
          <img [ngSrc]="logoWithoutTitle" alt="logo-without-title" fill />
        </div>
      </div>
    </div>
  </div>
  <img
    class="z-0 object-cover opacity-80"
    [ngSrc]="projectBg"
    alt="project-bg"
    fill
  />
</section>
