<section
  class="relative z-0 flex h-intro-section w-full flex-col items-center justify-center bg-primary-orange text-white"
>
  <img
    ngSrc="../../assets/imgs/logo.webp"
    alt="logo"
    height="442"
    width="442"
    priority
    class="h-60 w-60 md:h-72 md:w-72 lg:h-96 lg:w-96"
    routerLink="/acceuil"
  />
  <p class="mb-4 font-Gloock text-6xl md:text-7xl lg:text-8xl">Bienvenue</p>
  <div class="mb-10 text-center font-Inter text-lg font-bold lg:text-2xl">
    <span>Psycho-spiritualité&nbsp;&nbsp;</span>
    <fa-icon class="text-xs" icon="circle"></fa-icon>
    <span>&nbsp;&nbsp;Soin énergétique&nbsp;&nbsp;</span>
    <fa-icon class="text-xs" icon="circle"></fa-icon>
    <span>&nbsp;&nbsp;Accompagnement spirituel&nbsp;&nbsp;</span>
    <fa-icon class="text-xs" icon="circle"></fa-icon>
    <span
      >&nbsp;&nbsp;Communauté d'éveil collectif et solidaire&nbsp;&nbsp;</span
    >
  </div>
  <p
    class="rounded-md border-4 border-primary-white p-5 text-center font-Gloock text-2xl font-medium tracking-wider lg:text-4xl"
  >
    “Nous sommes un grand Cœur Sauvage”
  </p>
  <img
    class="container -z-10 object-cover opacity-70"
    ngSrc="../../assets/imgs/landing-image.png"
    alt="landing-image"
    priority
    fill
  />
</section>
<section class="flex flex-col justify-center bg-primary-white">
  <span class="mb-8 font-Gloock text-4xl"
    >Bienvenue dans la communauté des Cœurs Sauvages !
  </span>
  <p class="px-10 text-center font-Inter text-lg lg:px-80">
    Nous célébrons l'unicité de chacun, car chaque personne et chaque énergie
    compte. Rejoins nous pour créer ensemble une nouvelle réalité, un cœur à la
    fois. Si cela te parle, te fait vibrer, ou te fait sourire… tu es au bon
    endroit.
  </p>
</section>
